@model IEnumerable<long3x.ViewModels.SignalViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table id="table">
        <tr>
            <td>ChannelId</td>
            <td>Coin1</td>
            <td>Coin2</td>
            <td>Leverage</td>
            <td>LongShort</td>
            <td>Risk</td>
            <td>EntryZoneMin</td>
            <td>EntryZoneMax</td>
            <td>Targets</td>
            <td>StopLoss</td>
            <td>TradingType</td>
            <td>AdditionalInfo</td>
            <td>Ts</td>
            <td>Price</td>
        </tr>
        @foreach (var row in Model)
        {
            <tr class="data-row">
                <td>@row.ChannelId</td>
                <td>@row.Coin1</td>
                <td>@row.Coin2</td>
                <td>@row.Leverage.ToString()</td>
                <td>@row.LongShort</td>
                <td>@row.Risk</td>
                <td>@row.EntryZoneMin</td>
                <td>@row.EntryZoneMax</td>
                <td>@row.Targets</td>
                <td>@row.StopLoss</td>
                <td>@row.TradingType</td>
                <td>@row.AdditionalInfo</td>
                <td>@row.Ts</td>
                <td class="price-row"name="@row.FullCoinDescription">@row.Price.ToString("G29")</td>
            </tr>
        }
    </table>
</div>


<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signals.js"></script>
